        @import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
        html {
            font-size: 10px;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            box-sizing: border-box;
        }
        
        *,
        *:before,
        *:after {
            margin: 0;
            padding: 0;
            box-sizing: inherit;
        }
        
        body {
            font-family: 'PT Sans', sans-serif;
            font-size: 16px;
            line-height: 1.428571429;
            font-weight: 400;
            color: #fff;
            /*  background-color: #219ebc;*/
        }
        
        .row {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .section {
            background-color: #197488;
            position: relative;
            overflow: hidden;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        
        header,
        main,
        footer {
            display: block;
            position: relative;
            z-index: 1;
        }
        
        header {
            padding: 48px;
            @media (max-width: 440px) {
                padding: 48px 24px;
            }
            >h3 {
                font-size: 44px;
                font-weight: 700;
                margin-bottom: 8px;
            }
            >h4 {
                font-size: 22px;
                font-weight: 400;
                letter-spacing: 1px;
            }
        }
        
        main {
            flex: 1;
            padding: 0 48px;
            @media (max-width: 440px) {
                padding: 0 24px;
            }
        }
        
        footer {
            width: 100%;
            background-color: #fb8500;
            padding: 16px;
            align-self: center;
            text-align: center;
            margin-top: 32px;
            a {
                color: #fff;
                font-weight: 700;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        
        form {
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        
        .label {
            color: rgba(226, 227, 232, .75);
            font-size: 16px;
        }
        
        small {
            display: none;
            &.errorOnce {
                margin-top: 2px;
            }
        }
        
        .register-button {
            margin: 0px auto 0px auto;
        }
        
        textarea {
            display: block;
            color: #fff;
            font-size: 19px;
            width: 100%;
            height: 65px;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #80d0e4;
            padding: 8px 0;
            appearance: none;
            outline: none;
        }
        
        .form-item {
            input[type="text"],
            input[type="number"],
            input[type="email"],
            input[type="text-area"] {
                display: block;
                color: #fff;
                font-size: 19px;
                width: 100%;
                background-color: transparent;
                border: none;
                border-bottom: 1px solid #80d0e4;
                padding: 8px 0;
                appearance: none;
                outline: none;
            }
            small {
                /*letter-spacing: 1px;*/
            }
            i {
                font-size: 12px;
                color: red;
            }
        }
        
        .box-details {
            .name-input {
                margin-top: 8px;
            }
            label {
                margin-top: 10px;
            }
        }
        
        .box-item {
            margin-bottom: 2px;
            margin-top: 25px;
        }
        
        .box-details {
            margin-top: 17px;
        }
        
        #email {
            margin-bottom: 9px;
        }
        
        .form-item-double {
            display: flex;
            .form-item {
                flex: 3 1 auto;
            }
            .form-item:nth-child(1) {
                padding-right: 16px;
            }
            .form-item:nth-child(2) {
                padding-left: 16px;
            }
        }
        
        .radio-label {
            flex: 1 1 auto;
            text-align: left;
            label {
                display: inline-block;
                vertical-align: middle;
                color: #fff;
            }
        }
        
        .first-radio {
            margin-left: 0px !important;
        }
        
        .form-item-triple {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding-top: 5px;
            .form-item {
                flex: 4 1 auto;
                text-align: center;
                margin: 0;
                label,
                input[type="radio"] {
                    display: inline-block;
                    vertical-align: middle;
                    margin: 2px 0px 0px 7px;
                }
            }
        }
        
         ::-webkit-input-placeholder {
            /* WebKit, Blink, Edge */
            color: rgba(226, 227, 232, .75);
            font-size: 14px;
        }
        
         :-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: rgba(226, 227, 232, .75);
            font-size: 14px;
            opacity: 1;
        }
        
         ::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: rgba(226, 227, 232, .75);
            font-size: 14px;
            opacity: 1;
        }
        
         :-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: rgba(226, 227, 232, .75);
            font-size: 14px;
        }
        
         ::-ms-input-placeholder {
            /* Microsoft Edge */
            color: rgba(226, 227, 232, .75);
            font-size: 14px;
        }
        /*===========================================*/
        
        textarea::-webkit-input-placeholder {
            /* WebKit, Blink, Edge */
            color: rgba(226, 227, 232, .75);
            font-size: 14px;
            font-family: sans-serif;
        }
        
        textarea:-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: rgba(226, 227, 232, .75);
            font-size: 14px;
            opacity: 1;
            font-family: sans-serif;
        }
        
        textarea::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: rgba(226, 227, 232, .75);
            font-size: 14px;
            opacity: 1;
            font-family: sans-serif;
        }
        
        textarea:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: rgba(226, 227, 232, .75);
            font-size: 14px;
            font-family: sans-serif;
        }
        
        textarea::-ms-input-placeholder {
            /* Microsoft Edge */
            color: rgba(226, 227, 232, .75);
            font-size: 14px;
            font-family: sans-serif;
        }
        
        .submit {
            display: inline-block;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 1px;
            padding: 8px 48px;
            margin-top: 32px;
            border: 2px solid #fb8500;
            border-radius: 20px;
            cursor: pointer;
            transition: all ease .2s;
            &:hover {
                background-color: #e97c00;
                border: 2px solid #e97c00;
            }
        }
        
        .wave {
            position: absolute;
            top: 0;
            left: 50%;
            width: 800px;
            height: 800px;
            margin-top: -600px;
            margin-left: -400px;
            background: #fb8500;
            border-radius: 40%;
            animation: shift 20s infinite linear;
            z-index: 0;
        }
        
        @keyframes shift {
            from {
                transform: rotate(360deg);
            }
        }
        /*======================================================================*/
        /*MEDIA QUERIES*/
        
        @media screen and (max-width:580px) {
            .box-item {
                margin-bottom: 25px;
            }
            .box-details {
                margin-top: 15px;
            }
            #email {
                margin-bottom: 20px;
            }
            .box-item {
                margin-bottom: 20px;
                margin-top: 8px;
            }
            .form-item {
                input[type="text"],
                input[type="number"],
                input[type="email"],
                input[type="text-area"] {
                    padding: 12px 0 3px 0px;
                }
            }
            .box-details {
                label {
                    margin-top: 0px;
                }
            }
        }